/*
	Personal reset.css

	Acknowledgments:
	- https://piccalil.li/blog/a-more-modern-css-reset/
	- https://gist.github.com/EllyLoel/4ff8a6472247e6dd2315fd4038926522
	- https://www.joshwcomeau.com/css/custom-css-reset/

*/

/* Predictable box model */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Remove margins */
* {
	margin: 0;
}

/* Prevent font inflation */
html {
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

/* Better body defaults */
body {
	line-height: 1.5;
	min-block-size: 100vh;
}

/* Balance heading text */
h1,
h2,
h3,
h4,
h5,
h6 {
	text-wrap: balance;
}

/* Decrease line height for headings and interactive elements */
h1,
h2,
h3,
h4,
h5,
h6,
button,
input,
label {
	line-height: 1.1;
}

/* Prevent text overflow */
h1,
h2,
h3,
h4,
h5,
h6,
p {
	overflow-wrap: break-word;
}

/* Better text layout */
/* https://caniuse.com/mdn-css_properties_text-wrap_pretty */
p {
	text-wrap: pretty;
}

/* Remove list styles on ul, ol elements with a list role, 
   which suggests default styling will be removed */
/* https://piccalil.li/blog/a-more-modern-css-reset/ */
:is(ol, ul)[role="list"] {
	list-style: none;
}

/* Contain preformatted text to containter */
pre {
	overflow: auto;
}

/* Better media element defaults */
img,
picture,
video,
canvas,
svg {
	block-size: auto;
	display: block;
	max-inline-size: 100%;
}

/* Interactive elements inherit font styling */
input,
textarea,
select,
button {
	font-family: inherit;
	font-size: inherit;
}
